body {
    background-color: rgb(158, 177, 125);
}

nav {
    background-color: darkolivegreen;
}

img {
    width: 50px;
    height: 60px;
}

img.card-img-top {
    height:250px;
    width: 400px;
}



form > button {
    outline: auto;
    outline-color: rgb(158, 177, 125);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

#first-col {
    padding-left: 15%;
    width:350px;
    
}

#second-col {
    padding-right: 15%;
    padding-left: 15%;
}

.card.col-6 {
    width: 400px;
    margin-bottom: 50px;
    height: auto;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px grey
  }

.card-body > .btn{
    background-color: darkolivegreen;
    width: 90px;
    height: 40px;
    color: white;
    
}

#park-cards {
    margin: 2rem;
  }

#card-booty {
    width: 30rem;
  }